[submodule "plugins/vim-hybrid"]
	path = plugins/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "plugins/vim-polyglot"]
	path = plugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "plugins/vim-repeat"]
	path = plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "plugins/fzf.vim"]
	path = plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "plugins/fzf"]
	path = plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "plugins/vim-surround"]
	path = plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/vim-unimpaired"]
	path = plugins/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "plugins/vim-commentary"]
	path = plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "plugins/targets.vim"]
	path = plugins/targets.vim
	url = https://github.com/wellle/targets.vim.git
